.header {
  overflow: hidden;
  background-color: #1F2937;
  padding: 20px 10px;
  /* align-self: stretch; */
  
}
 /*Style header logo*/
.header a.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  float: left;  
  margin: 20px;
 
}
/* Style the header links */
 a {
  color: #F9FAF8 ;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  float: right; 
  
  margin: 20px;
}
.hero {
justify-content: space-between;
padding: 5%;
margin: auto;
color: #F9FAF8;
letter-spacing: 2px;
text-align: left; 
display: flex;
float: left;
align-items: stretch;
} 
h1 {
  font-size: 48px; 
  margin: auto; 

}
p.subtext{ /*This Webiste... */
  font-size: 18px;
  margin: auto;
} 

img{  /*Sky Picture the upper right*/

 height: 230px;
 width: 500px; 
 align-self: center;
} 

button{
  font-size: 16px;
  background-color: #3882f6;
  border: none;
  text-align: center;
  display: inline-flex;
  color: white;
  padding: 10px 20px;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;

}

.text-content {
  flex-grow: 2; /* Allow the text content to grow and take available space */

}
.section1 h2 {
  margin: 5px;
  text-align: center;
  color: #1f2937;
  font-size: 36px;
}
.gallery {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.gallery img {
  width:200px;
  height: 200px;
 border: 5px solid #3882f6;
 border-radius: 4px;
 padding: 3px;
 
}

.gallery div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description{
  text-align: center;
  font-size: 18px;
}
.qoute-section{
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight:lighter ;
}
.caption {
font-size: 26px;
text-align: right;
padding: 10px;
}
.section2 {

  border-radius: 5px;
  color:black;
}
.button1 {
  border-color: black;
  border-radius: 4px;
}